.panel {
    display: flex;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    width: max-content;
}

.panel.vertical {
    flex-direction: column;
}

.panel.horizontal {
    flex-direction: row;
}

.panel.closed {
    display: none;
}
