body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: blue;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
}

.projects a {
    display: flex;
    flex-direction: column;
    
}

.projects img {
    width: 25%;
    height: 25%;
    object-fit: contain;
    margin-right: 1rem;
    border-radius: 8px;
}

form input, form textarea {
    display: block;
    width: 300px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

form textarea {
    resize: none;
    overflow: auto;
    overflow-wrap: break-word;
}

#featured {
    padding: 2rem;
}

.feature-box {
    border: 2px solid #444;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.dark-mode .feature-box {
    background-color: #222;
    border-color: #888;
}

#darkModeSlider {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;
    font-size: 1.1rem;
}

#universityResources {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#personalProjects img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 8px;
}

.hidden {
    display: none;
}